@import "tailwindcss";

@font-face {
  font-family: "Goat";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("./assets/fonts/goat.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("./assets/fonts/ibm_plex.woff2") format("woff2");
}

@theme {
  --font-goat: "Goat";
  --font-ibm: "IBM Plex";
  --gray-50: #f4f4f4;
  --gray-100: #dedede;
  --gray-200: #bfbfbf;
  --gray-300: #a3a3a3;
  --gray-400: #8a8a8a;
  --gray-500: #727272;
  --gray-600: #5b5b5b;
  --gray-700: #454545;
  --gray-800: #303030;
  --gray-900: #1c1c1c;
  --gray-950: #0c0c0c;
}

@utility scrollbar {
  &::-webkit-scrollbar {
    @apply w-1 h-3;
  }
  &::-webkit-scrollbar-track {
    @apply bg-gray-200 rounded-full;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-gray-500 rounded-full border-2 border-solid border-gray-200;
  }
  &::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600;
  }
}

@layer base {
  body {
    @apply font-goat text-xs;
  }
  .container {
    @apply max-w-5xl mx-auto px-4;
  }

  canvas {
    @apply !bg-transparent;
  }
}

.error {
  @apply border-red-500 text-red-500 bg-red-100
}

.success {
  @apply border-green-500 text-green-500 bg-green-100
}

.info {
  @apply border-blue-500 text-blue-500 bg-blue-100
}
